@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    margin: 0;
    padding: 0;
    background-color: #a1ecb2;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
}

.wrapper {
    width: 90%;
    margin: 50px auto;
    border-radius: 30px;
    background-color: rgb(233, 233, 233);
    box-shadow: 5px 5px 20px #37323e;
}

.header {
    width: 70%;
    text-align: center;
    padding: 40px;
    margin: 0 auto;
    border-bottom: 2px solid #104911;
}

.header h1 {
    margin: 40px 0;
    font-weight: 420;
    font-size: 3rem;
    color: #104911;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 30px;
    padding: 20px;
    gap: 25px;
    justify-items: center;
}

.display-card {
    width: 75%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    border: 1px solid #104911;
    border-radius: 15px;
    padding: 20px;
}

.display-card button {
    width: 150px;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #ddcecd;
} 

.thumbnail {
    text-align: center;
    grid-column: 1/2;
    align-self: center;
    
}

.title, .author, .page-count, .read {
    margin: 0 20px;
    padding: 3px 8px;
    border-left: 1px solid #104911;
}

.add-book {
    width: 60%;
    display: none;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #104911;
}

.expand-form {
    margin: 25px 0 0 0;
    text-align: center;
}

.expand-form button {
    width: 60%;
    padding: 10px;
}

.removeBtn {
    text-align: center;
}

.toggleRead {
    text-align: center;
}